<ion-content class="ion-padding content ion-no-border" color="dark">

  <ion-grid style="margin-top: 50px;">

    <ion-header class="logo ion-no-border">
      <ion-icon  class="ion-text-center" name="fast-food-outline" size="large" color="light"></ion-icon>
      <ion-title><p style="color:#000; font-size: 18px;">Login to <b> MUNCH-E's </b></p></ion-title>
    </ion-header>
  
    <ion-row justify-content-center>  

                <ion-card class="ion-padding card ion-no-border" color="secondary">
                  <!-- Username Item -->
                  <ion-item color="dark">
                    <ion-input
                      label="Username"
                      labelPlacement="stacked"
                      [clearInput]="true"
                      placeholder="Enter Username"
                    >
                    </ion-input>
                  </ion-item>


                  <!-- Password item -->
                  <ion-item color="dark">
                    <ion-input
                      label="Password"
                      labelPlacement="stacked"
                      [clearInput]="true"
                      placeholder="Enter Password"
                    >
                    </ion-input></ion-item>
                  
                    <ion-item color="dark">
                      <ion-toggle color="primary" class="text" [enableOnOffLabels]="true">Keep this device logged in</ion-toggle>
                    </ion-item>

                    <ion-item color="dark">
                      <ion-button color="primary" class="btn"><p style="color:#fff"
                        (click)="navigateTo('../dashboard.page.html')">Log In</p></ion-button>
                    </ion-item>          
                  </ion-card>
      </ion-row>
                        
                  <!-- These are the non subscribed or forgotten password -->
                  <ion-col>
                    <ion-text class="text ion-text-center">
                      <p>Forgot your password? <a href="SignUp"><br>Reset Password</a></p>
                    </ion-text>
                    <ion-text class="text ion-text-center">
                      <p>Not a member yet? <a href="SignUp">Sign Up</a></p>
                    </ion-text>
                  </ion-col>
    </ion-grid>
</ion-content>
