
.logo{
    margin: 0 auto;
    padding: 15px;
    display: inline-flex;
    align-items: center;
    max-width: 800px;
    min-width: 400px;
}

.text{
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
}

.content{
    margin: 0 auto;
    display: flex;
    justify-content: center
}

.card{
    margin: 0 auto;
    width: 800px;
}

.btn{
    font-size: 12px;
    width: 80px;
    display: inline-flex;
    margin: 10px auto;
}

.background-image{
    --background: url(https://www.shutterstock.com/shutterstock/photos/1479016076/display_1500/stock-vector-burger-and-fries-seamless-pattern-background-vector-design-1479016076.jpg) 0 0/100% 100% no-repeat;
}