<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs color="dark">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Home">
        <ion-icon name="Home"></ion-icon>
        Dashboard
      </ion-tab-button>
      <ion-tab-button tab="Search">
        <ion-icon name="Search"></ion-icon>
        Search
      </ion-tab-button>
      <ion-tab-button tab="Person">
        <ion-icon name="Person"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
